h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
}

p {
  margin-bottom: 10px;
}

strong {
  height: 36px;
  line-height: 32px;
  font-weight: 300;
}

.body {
  background-color: #e4e4e4;
  font-family: Mulish, sans-serif;
}

.heading-1 {
  margin-top: 0px;
  font-family: 'Red Hat Display', sans-serif;
  color: #3e65a0;
  font-size: 48px;
  line-height: 115%;
}

.heading-1.card {
  width: 80%;
  margin-top: 12px;
  margin-bottom: 16px;
  font-size: 44px;
  line-height: 108%;
}

.heading-1.card.small {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 115%;
  font-weight: 700;
}

.heading-1.light {
  margin-top: 4px;
  color: #a8b6cc;
  font-size: 40px;
}

.heading-1.light.login {
  line-height: 100%;
}

.heading-1.new {
  margin-top: 10px;
  font-size: 32px;
}

.heading-1.new.more-space {
  margin-top: 16px;
  margin-left: 60px;
}

.heading-1.new.more-space.title {
  font-weight: 400;
  text-align: center;
}

.heading-1.new.more-space.active {
  display: inline-block;
  padding: 8px 24px;
  border-radius: 8px;
  color: #2a5088;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.heading-1.card-copy {
  width: 80%;
  margin-top: 12px;
  margin-bottom: 16px;
  font-size: 44px;
  line-height: 108%;
}

.heading-1.card-copy.small {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 115%;
  font-weight: 700;
}

.heading-6 {
  font-family: 'Red Hat Display', sans-serif;
  color: #afafaf;
  font-size: 36px;
  line-height: 130%;
}

.section {
  padding: 10vh 10px 60px;
}

.section.no-margins {
  display: -ms-grid;
  display: grid;
  padding: 0vh 20px 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.section.landing-screen {
  padding-left: 52px;
}

.section.landing-screen.admin {
  padding-bottom: 20px;
}

.section.landing-screen.top-border {
  border-top: 1px dashed #ececec;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  padding-left: 48px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.brand {
  width: 140px;
  height: 60px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: url('../images/Insurance-Pricing-Game---Admin.svg');
  background-position: 0% 50%;
  background-size: auto 20px;
  background-repeat: no-repeat;
}

.brand.public-side {
  background-image: url('../images/Insurance-Pricing-Game-single.svg');
}

.nav-link {
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
  font-family: Mulish, sans-serif;
  color: grey;
  font-size: 15px;
  font-weight: 500;
}

.nav-link:hover {
  background-color: #ececec;
  color: #646464;
  text-shadow: 0 0 3px #afafaf;
}

.div-block {
  display: -ms-grid;
  display: grid;
  max-width: 560px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.sub-heading {
  color: #3e65a0;
  font-size: 18px;
  line-height: 120%;
  font-weight: 600;
}

.sub-heading.admin {
  color: #ff006a;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.icons {
  margin: 10px 20px 20px 2px;
}

.h1-heading {
  padding: 24px;
  font-family: 'Red Hat Display', sans-serif;
  color: #afafaf;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
}

.main-card-grid {
  display: -ms-grid;
  display: grid;
  margin-bottom: 0px;
  padding: 56px 60px 52px 72px;
  grid-auto-columns: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 12px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-radius: 2px 2px 20px 20px;
  background-color: #3e65a0;
  box-shadow: none;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  cursor: pointer;
}

.main-card-grid:hover {
  background-color: #3e65a0;
  color: #fff;
}

.main-card-grid._2 {
  grid-row-gap: 12px;
  background-color: #75d7ab;
  box-shadow: 1px 0 5px 0 #85ccac;
}

.main-card-grid.small {
  display: block;
  margin-bottom: 0px;
  padding: 32px 32px 24px 40px;
  background-image: url('../images/MSC.svg');
  background-position: 85% 65%;
  background-size: 110px;
  background-repeat: no-repeat;
}

.main-card-grid.small.green {
  background-color: #75d7ab;
  background-image: url('../images/LPC.svg');
  background-size: 80px;
}

.main-card-grid.less {
  color: #542a88;
}

.main-card-grid.less:hover {
  background-color: #542a88;
  color: #fff;
}

.main-card-grid.other {
  background-color: #48a9a6;
  color: #fff;
}

.main-card-grid.other:hover {
  background-color: #48a9a6;
  color: #fff;
}

.special-paragraph {
  width: 85%;
  font-size: 16px;
  line-height: 140%;
}

.special-paragraph.small {
  width: 100%;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 800;
}

.special-paragraph.small.new {
  margin-top: 0px;
}

.special-paragraph.big {
  color: #fff;
  font-size: 14px;
  font-weight: 200;
}

.div-block-2 {
  display: -ms-grid;
  display: grid;
  width: 90%;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.price-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  padding: 8px 20px 10px 24px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 8px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 70px 66px 66px 66px 66px;
  grid-template-rows: 70px 66px 66px 66px 66px;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: none;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.price-grid:hover {
  box-shadow: 0 0 20px 0 rgba(43, 43, 43, 0.35);
}

.price-grid.single {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.price-money {
  min-height: 20px;
  min-width: 30px;
  padding-top: 2px;
  padding-left: 24px;
  background-image: url('../images/Prize.svg');
  background-position: 0% 0%;
  background-size: 20px;
  background-repeat: no-repeat;
  color: #3e65a0;
  font-size: 18px;
  line-height: 75%;
  font-weight: 600;
  text-align: right;
}

.price-money.smaller {
  padding-top: 6px;
  font-size: 13px;
}

.price-money.plain {
  background-image: none;
  background-size: auto;
  background-repeat: repeat;
  text-align: center;
}

.price-money-div {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 16px;
  -ms-grid-columns: 0.6fr 0.9fr;
  grid-template-columns: 0.6fr 0.9fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.price-money-div.new {
  padding-top: 24px;
  padding-right: 15px;
  padding-bottom: 15px;
  border-top: 1px dashed #d8d8d8;
  border-bottom: 1px dashed #d8d8d8;
  border-radius: 8px;
}

.price-money-div.single {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -ms-grid-columns: 0.5fr;
  grid-template-columns: 0.5fr;
}

.price-money-div.single-window {
  grid-column-gap: 3px;
  -ms-grid-columns: 0.5fr 1fr;
  grid-template-columns: 0.5fr 1fr;
}

.important-images {
  height: 44px;
  max-width: 80%;
  -o-object-fit: contain;
  object-fit: contain;
}

.important-images.big {
  height: 52px;
}

.important-images.logo.small {
  height: 40px;
}

.important-images.smaller {
  height: 40px;
}

.div-block-4 {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.button {
  border-radius: 8px;
  background-color: #3e65a0;
  -webkit-transition: background-color 200ms cubic-bezier(.55, .055, .675, .19), box-shadow 200ms cubic-bezier(.55, .055, .675, .19);
  transition: background-color 200ms cubic-bezier(.55, .055, .675, .19), box-shadow 200ms cubic-bezier(.55, .055, .675, .19);
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.button:hover {
  background-color: #2a5088;
  box-shadow: 0 0 9px 0 rgba(62, 101, 160, 0.31);
}

.button.yellow {
  background-color: #f9cd86;
  color: #2a5088;
  font-weight: 700;
}

.button.yellow:hover {
  background-color: #eca635;
}

.landing-screen-icons {
  width: 180px;
}

.divider {
  width: 60px;
  margin-top: 32px;
  margin-bottom: 32px;
  border-top: 3px solid #ececec;
}

.divider.small {
  width: 24px;
  margin-top: 16px;
  margin-bottom: 20px;
  border-top-width: 2px;
  border-top-color: #ffbd89;
}

.divider.small.green {
  border-top-color: #3d996d;
}

.divider.center {
  margin: 24px auto 12px;
  text-align: center;
}

.divider.dashed {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 20px;
  border-top: 1px dashed hsla(0, 0%, 100%, 0.35);
}

.container {
  padding-top: 10px;
}

.container-2 {
  background-color: #fff;
}

.main-container {
  width: 75%;
  max-width: 1240px;
  min-width: 980px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 16px;
  padding-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 0 15px 0 #c2c2c2;
}

.main-container.login {
  height: 100vh;
  background-image: url('../images/BG-Image_1.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.color-block {
  margin-bottom: 20px;
  color: #fff;
}

.grid {
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 240px 20px 240px;
  grid-template-columns: 240px 20px 240px;
}

.div-block-7 {
  border-right: 4px dashed #2a5088;
}

.timeline-date {
  color: #d10000;
  font-size: 28px;
  line-height: 36px;
  font-weight: 800;
}

.text-block {
  color: grey;
  font-size: 20px;
}

.div-block-8 {
  display: -ms-grid;
  display: grid;
  margin-bottom: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.button-2 {
  height: 36px;
  padding-right: 40px;
  border-radius: 8px;
  background-color: #2a5088;
  background-image: url('../images/Arrow.svg');
  background-position: 86% 50%;
  background-size: 18px;
  background-repeat: no-repeat;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.button-2:hover {
  padding-right: 40px;
  background-color: #234473;
  background-position: 95% 50%;
}

.div-block-9 {
  width: 2px;
  border-left: 2px dashed #ececec;
}

.footer {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  margin-right: -12px;
  margin-left: -12px;
  padding: 56px 48px 24px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 0.6fr 1fr;
  grid-template-columns: 0.6fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-radius: 16px;
  background-color: #2a5088;
  box-shadow: 0 0 5px 0 rgba(62, 101, 160, 0.68);
  color: #fff;
}

.footer.faq {
  padding-right: 40px;
  padding-left: 40px;
  -ms-grid-columns: 0.65fr 1fr;
  grid-template-columns: 0.65fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  background-color: transparent;
  box-shadow: none;
}

.footer.faq.timeline {
  margin-right: 0px;
  margin-left: 0px;
  padding: 100px 100px 80px;
  border-radius: 0px;
  background-image: url('../images/BG-Image.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.footer.faq.small {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  -ms-grid-columns: 0.6fr 1fr;
  grid-template-columns: 0.6fr 1fr;
}

.footer.faq.privacy-policy {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 40px;
  -ms-grid-columns: 0.25fr 1fr;
  grid-template-columns: 0.25fr 1fr;
}

.footer.login {
  max-width: 520px;
  margin-right: auto;
  margin-left: auto;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.success-message-cf8 {
  padding-left: 28px;
  border-style: none;
  border-width: 1px;
  border-color: #113263;
  border-radius: 8px;
  background-color: #234270;
  font-weight: 500;
}

.form-subwrapper-cf8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.text-field-cf8 {
  margin-top: 0px;
  padding-left: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: transparent transparent #fff;
  border-radius: 0px;
  background-color: transparent;
  color: #ffe2b4;
  font-size: 16px;
  text-align: left;
}

.text-field-cf8:focus {
  border-style: none none solid;
  border-color: #000 #000 #f9cd86;
  color: #f9cd86;
}

.text-field-cf8::-webkit-input-placeholder {
  color: hsla(0, 0%, 100%, 0.74);
}

.text-field-cf8:-ms-input-placeholder {
  color: hsla(0, 0%, 100%, 0.74);
}

.text-field-cf8::-ms-input-placeholder {
  color: hsla(0, 0%, 100%, 0.74);
}

.text-field-cf8::placeholder {
  color: hsla(0, 0%, 100%, 0.74);
}

.text-field-cf8.big {
  height: 90px;
  margin-top: 10px;
}

.submit-button-cf8 {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 40px;
  border-style: solid;
  border-width: 2px;
  border-color: #4dc61e;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 #dfdfdf;
  -webkit-transition: color 200ms ease, background-color 200ms ease;
  transition: color 200ms ease, background-color 200ms ease;
  color: #4dc61e;
  font-size: 14px;
  font-weight: 600;
}

.submit-button-cf8:hover {
  background-color: #4dc61e;
  color: #fff;
}

.field-wrapper-cf8 {
  width: 100%;
  margin-bottom: 8px;
}

.field-wrapper-cf8.right {
  width: 50%;
  margin-left: 30px;
}

.field-wrapper-cf8.left {
  width: 50%;
}

.field-label-cf8 {
  margin-bottom: 0px;
  font-size: 13px;
}

.error-message-cf8 {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #fa5a5d;
  color: #fff;
}

.form-cf8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40px;
  padding-top: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-text {
  display: inline-block;
  padding-right: 10px;
  font-family: 'PT Sans', sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 11px;
  text-decoration: none;
}

.footer-text:hover {
  color: #e9f56c;
}

.accordion-item {
  margin-bottom: 20px;
  padding: 24px 30px 14px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.03);
}

.content-wrapper {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.content-wrapper.slim {
  max-width: 940px;
}

.accordion-wrapper {
  margin-top: 8px;
}

.icon.accordion-icon {
  color: rgba(0, 0, 0, 0.6);
  font-size: 32px;
  line-height: 30px;
  cursor: pointer;
}

.accordion-item-trigger {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.header-center-box {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.header-center-box._75 {
  width: 75%;
}

.accordion-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  line-height: 30px;
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.accordion-item-content {
  overflow: hidden;
  margin-top: 10px;
  margin-right: 30px;
}

.accordion-body__contents {
  margin-top: 8px;
  opacity: 1;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #9096a4;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
}

.accordion-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #2e323c;
}

.accordion-header.js-accordion-header {
  cursor: pointer;
}

.question-text {
  margin-top: 15px;
  margin-left: 24px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 16px;
  line-height: 24px;
}

.accordion-body {
  display: block;
  padding-right: 8px;
  padding-left: 64px;
  color: #9096a4;
}

.accordion-body.js-accordion-body {
  padding-bottom: 20px;
  color: #9096a4;
}

.accordion__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  margin-bottom: 24px;
  padding: 20px 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(46, 50, 60, 0.09);
  -webkit-transition: box-shadow 300ms ease;
  transition: box-shadow 300ms ease;
  text-align: left;
  text-decoration: none;
}

.accordion__item:hover {
  box-shadow: 0 3px 9px 0 rgba(46, 50, 60, 0.09);
}

.accordion__item.js-accordion-item {
  padding-bottom: 20px;
}

.accordion__item.js-accordion-item.active {
  cursor: default;
}

.faq-button {
  margin-top: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 3px;
  background-color: #ffb223;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: Lato, sans-serif;
  font-weight: 700;
}

.faq-button:hover {
  background-color: #ffd17b;
}

.accordion_item-image {
  width: 40px;
}

.faq-question-wrap {
  padding-right: 8px;
  padding-left: 12px;
  border-radius: 8px;
}

.faq-question-wrap:hover {
  background-color: #f0f6ff;
}

.faq-question-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.question-title {
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: 'Red Hat Display', sans-serif;
  color: #2a5088;
  font-size: 19px;
  line-height: 26px;
  font-weight: 700;
}

.animation {
  width: 48px;
  height: 48px;
}

.faq-content {
  overflow: hidden;
  margin-top: -2px;
}

.paragraph {
  margin-right: 0px;
  margin-bottom: 4px;
  padding: 4px 12px 10px 4px;
  color: #3e65a0;
  font-size: 13px;
  line-height: 21px;
  font-weight: 500;
  letter-spacing: -0.25px;
}

.organisers-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 12px;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start;
  justify-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 56px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.event-organiser {
  width: 100%;
  height: 52px;
  -o-object-fit: contain;
  object-fit: contain;
}

.event-organiser.bigger {
  height: 60px;
}

.event-organiser.smaller {
  height: 48px;
}

.event-organiser.big {
  height: 62px;
}

.margin-div {
  padding-right: 15vh;
  padding-left: 15vh;
}

.margin-div.bg {
  background-image: url('../images/BG-Image_1.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.margin-div.login {
  margin-top: 25vh;
}

.timeline-image {
  width: 85%;
}

.tip-text {
  display: none;
}

.link-block.w--current {
  display: none;
}

.text-span-usd {
  color: #8d8d8d;
  font-size: 10px;
  line-height: 110%;
}

.code-template {
  margin-top: 20px;
  padding-top: 8px;
  padding-right: 40px;
  padding-bottom: 8px;
  border-radius: 8px;
  background-color: #ef8735;
  background-image: url('../images/Arrow.svg');
  background-position: 92% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

.code-template:hover {
  background-color: #d9782b;
  background-position: 96% 50%;
}

.code-template.green {
  background-color: #3d996d;
}

.code-template.green:hover {
  background-color: #388c64;
}

.hyperlinks-to-code-template {
  color: #ff006a;
  font-weight: 700;
}

.hyperlinks-to-code-template:hover {
  background-color: #ececec;
}

.link {
  text-decoration: none;
}

.text-block-2 {
  color: #2a5088;
  font-size: 10px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.text-span {
  padding-top: 2px;
  padding-bottom: 0px;
  border-radius: 8px;
  color: #2a5088;
  line-height: 14px;
  font-weight: 800;
  text-decoration: none;
}

.text-span:hover {
  display: inline-block;
  padding-right: 6px;
  padding-bottom: 1px;
  padding-left: 6px;
  background-color: #2a5088;
  color: #fff;
  font-weight: 600;
}

.asterik {
  color: #ff006a;
  font-weight: 400;
}

.track-logos {
  height: 24px;
  padding-right: 12px;
  padding-left: 12px;
  border-radius: 6px;
}

.track-logos.kaggle {
  height: 28px;
}

.div-block-10 {
  width: 100%;
  margin-left: 10px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #cecece;
  text-align: center;
}

.table-row-div {
  display: -ms-grid;
  display: grid;
  padding: 12px 20px 8px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 52px 260px 1fr 90px;
  grid-template-columns: 52px 260px 1fr 90px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-bottom: 1px dashed #c9c9c9;
}

.table-row-div.header {
  margin-bottom: 10px;
  padding-bottom: 12px;
  -ms-grid-columns: 60px 250px 1fr 90px;
  grid-template-columns: 60px 250px 1fr 90px;
  border-bottom-style: none;
  border-radius: 6px;
  background-color: #ececec;
}

.table-row-div.header.deleted {
  border-bottom-style: none;
  background-color: rgba(255, 0, 0, 0.1);
}

.table-row-div.header.resolved {
  background-color: rgba(141, 217, 183, 0.4);
}

.table-row-div.deleted {
  border-bottom-color: #ff8d8d;
}

.table-row-div.responded {
  border-bottom-color: #3cad7b;
}

.table-header {
  color: #3e65a0;
  font-weight: 700;
}

.table-header.content {
  color: grey;
  font-weight: 500;
}

.table-header.content.email {
  color: #2a5088;
  font-weight: 700;
}

.table-header.date {
  margin-top: 8px;
  color: grey;
  font-size: 12px;
  font-weight: 400;
}

.table-header.date.resolved {
  color: #179132;
  font-weight: 600;
}

.table-header.date.deleted {
  color: #ff006a;
  font-weight: 600;
}

.action-buttons {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  border-radius: 4px;
  background-image: url('../images/Vector.svg');
  background-position: 50% 50%;
  background-size: 16px;
  background-repeat: no-repeat;
}

.action-buttons:hover {
  background-color: rgba(70, 185, 133, 0.16);
}

.action-buttons.delete {
  background-image: url('../images/emojione-v1_cross-mark.svg');
}

.action-buttons.delete:hover {
  background-color: rgba(185, 70, 70, 0.16);
}

.div-block-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -6px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.unread-queries {
  margin-top: 12px;
  margin-bottom: 40px;
  padding: 24px;
  border-style: solid;
  border-width: 1px;
  border-color: #ececec #ececec #e4e4e4;
  border-radius: 20px;
  box-shadow: 0 0 15px 1px #ececec;
}

.unread-queries.deleted {
  border-style: none;
  background-color: rgba(255, 0, 0, 0.07);
  box-shadow: 0 0 15px 1px #d6d6d6;
}

.unread-queries.resolved {
  border-style: none;
  background-color: rgba(70, 185, 133, 0.1);
  box-shadow: 0 0 15px 1px #d6d6d6;
}

.div-block-12 {
  padding: 26px;
}

.div-block-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.text-span-3 {
  color: #fff;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
}

.form-block {
  color: #ffe100;
  font-size: 17px;
  text-align: left;
}

.success-form {
  color: #fff;
  font-size: 13px;
  line-height: 14px;
  font-weight: 300;
}

.form-feedback {
  margin-left: 24px;
  float: left;
  color: #59c091;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  text-align: left;
}

.text-block-3 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
}

.form-image {
  margin-bottom: 10px;
}

.image-5 {
  float: left;
  text-align: left;
}

.text-block-4 {
  font-size: 32px;
  text-align: center;
}

.button-arrow {
  padding-right: 40px;
  border-radius: 8px;
  background-color: #f9f871;
  background-image: url('../images/Arrow_1.png');
  background-position: 90% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  -webkit-transition: background-color 200ms cubic-bezier(.55, .055, .675, .19), box-shadow 200ms cubic-bezier(.55, .055, .675, .19);
  transition: background-color 200ms cubic-bezier(.55, .055, .675, .19), box-shadow 200ms cubic-bezier(.55, .055, .675, .19);
  font-family: 'Red Hat Display', sans-serif;
  color: #242424;
  font-size: 14px;
  font-weight: 700;
}

.button-arrow:hover {
  background-color: #ffd466;
  box-shadow: 0 0 9px 0 rgba(62, 101, 160, 0.31);
  color: #2b2b2b;
}

.button-arrow.yellow {
  background-color: #f9cd86;
  color: #2a5088;
  font-weight: 700;
}

.button-arrow.yellow:hover {
  background-color: #eca635;
}

.button-arrow.dark {
  padding-top: 8px;
  padding-right: 28px;
  padding-bottom: 8px;
  background-color: #fff98e;
  background-image: url('../images/Arrow_1.png');
  background-position: 94% 50%;
  background-size: 18px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #2a5088;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
}

.button-arrow.dark:hover {
  padding-right: 36px;
  background-color: #ffd149;
  background-position: 95% 50%;
}

.new-heading {
  margin-top: 16px;
  margin-bottom: 20px;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 28px;
  line-height: 125%;
  font-weight: 700;
}

.div-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-15 {
  padding-top: 10px;
  border-radius: 6px 6px 20px 20px;
  background-color: #0e3164;
  box-shadow: 0 0 15px 1px #b3b3b3;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.div-block-15:hover {
  box-shadow: 0 0 12px 2px #868686;
}

.div-block-15.green {
  background-color: #18817e;
}

.new-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 16px;
  background-color: #f8f8f8;
  box-shadow: 0 0 5px 0 #b8b8b8;
}

.color-block-new {
  width: 29vw;
  max-width: 420px;
  min-width: 370px;
  padding: 60px 56px 36px;
  border-radius: 16px;
  background-color: #2a5088;
  box-shadow: 1px 1px 11px 0 #afafaf;
  color: #fff;
  cursor: pointer;
}

.color-block-new:hover {
  background-color: #274b7f;
}

.color-block-new.no-color {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 24vw;
  padding-top: 36px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  box-shadow: none;
  color: #3e65a0;
}

.color-block-new.green {
  background-color: #1b998b;
  cursor: pointer;
}

.color-block-new.green:hover {
  background-color: #1a9184;
}

.price-grid-new {
  display: -ms-grid;
  display: grid;
  min-width: 240px;
  margin-right: 8px;
  padding: 0px 0px 10px 20px;
  grid-auto-columns: 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 8px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 56px 50px 50px 50px 50px;
  grid-template-rows: 56px 50px 50px 50px 50px;
  border-radius: 24px;
  background-color: transparent;
  box-shadow: none;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.price-grid-new:hover {
  box-shadow: none;
}

.price-grid-new.single {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.price-grid-new.kaggle-design {
  padding-left: 0px;
  grid-row-gap: 12px;
  -ms-grid-rows: 56px 32px 50px 50px 50px;
  grid-template-rows: 56px 32px 50px 50px 50px;
}

.special-paragraph-new {
  width: 95%;
  margin-bottom: 20px;
  color: #fff;
  font-size: 16px;
  line-height: 145%;
  font-weight: 300;
}

.special-paragraph-new.small {
  width: 100%;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 800;
}

.special-paragraph-new.small.new {
  margin-top: 0px;
}

.special-paragraph-new.big {
  font-size: 20px;
  font-weight: 300;
}

.dates {
  font-size: 12px;
}

.footnote {
  display: none;
  font-family: 'PT Sans', sans-serif;
  color: hsla(0, 0%, 100%, 0.9);
  font-size: 10px;
  line-height: 151%;
  font-weight: 400;
}

.footnote.small {
  width: 100%;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 800;
}

.footnote.small.new {
  margin-top: 0px;
}

.footnote.big {
  font-size: 20px;
  font-weight: 300;
}

.footnote.visible {
  display: block;
  margin-top: 12px;
  font-family: Mulish, sans-serif;
  color: #afafaf;
  text-align: left;
}

.footnote-cta-div {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-auto-columns: 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1.1fr 0.3fr;
  grid-template-columns: 1.1fr 0.3fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-span-4 {
  color: #fff98e;
}

.emphasis {
  color: #fff98e;
  font-style: italic;
  font-weight: 700;
}

.emphasis.big {
  line-height: 28px;
}

.prize {
  color: #2a5088;
  font-size: 12px;
}

.rich-text-block {
  color: #2a5088;
}

.rtt-normal {
  color: #2a5088;
  line-height: 17px;
  font-weight: 300;
}

.rtt-normal p {
  color: #2a5088;
  font-size: 13px;
  line-height: 18px;
}

.heading-7 {
  color: #2a5088;
  font-weight: 300;
}

.bold-text {
  font-family: Mulish, sans-serif;
  color: grey;
  font-size: 28px;
  font-style: italic;
  font-weight: 200;
}

.text-block-5 {
  color: #2a5088;
}

.div-block-17 {
  padding: 28px;
  border-radius: 16px;
  background-color: #ececec;
  color: #2a5088;
}

.bold-text-2 {
  font-size: 20px;
  font-weight: 700;
}

.text-block-6 {
  margin-top: 12px;
}

.emphasis-text {
  color: #fff98e;
  font-style: italic;
  font-weight: 600;
}

.link-2 {
  padding-right: 16px;
  padding-left: 16px;
  background-image: url('../images/Arrow_1.png');
  background-position: 0% 50%;
  background-size: 14px;
  background-repeat: no-repeat;
  -webkit-transition: all 400ms cubic-bezier(.165, .84, .44, 1);
  transition: all 400ms cubic-bezier(.165, .84, .44, 1);
  color: grey;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
}

.link-2:hover {
  background-position: 2px 50%;
  color: #ff006a;
  font-weight: 400;
}

@media screen and (min-width: 1440px) {
  .heading-1 {
    font-size: 51px;
    line-height: 118%;
  }

  .heading-1.card {
    padding-right: 40px;
    font-size: 48px;
  }

  .heading-1.card-copy {
    padding-right: 40px;
    font-size: 48px;
  }

  .section.no-margins {
    padding-top: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
  }

  .section.landing-screen {
    padding-top: 11vh;
    padding-bottom: 7vh;
  }

  .div-block {
    max-width: 620px;
  }

  .main-card-grid {
    padding-right: 80px;
    padding-bottom: 72px;
    padding-left: 80px;
    grid-column-gap: 36px;
    -ms-grid-columns: 1.2fr 1fr;
    grid-template-columns: 1.2fr 1fr;
  }

  .main-card-grid:hover {
    box-shadow: 0 0 11px 5px rgba(83, 83, 83, 0.5);
  }

  .main-card-grid.small {
    margin-bottom: 20px;
  }

  .special-paragraph {
    width: 90%;
    padding-right: 12px;
    padding-left: 2px;
    font-size: 18px;
  }

  .div-block-2 {
    width: 85%;
  }

  .price-money {
    font-size: 22px;
    line-height: 80%;
  }

  .price-money.smaller {
    padding-top: 2px;
    font-size: 17px;
  }

  .price-money-div {
    -ms-grid-columns: 0.7fr 1.1fr;
    grid-template-columns: 0.7fr 1.1fr;
  }

  .important-images {
    height: 50px;
  }

  .important-images.smaller {
    max-width: 90%;
  }

  .divider {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .divider.small {
    margin-top: 12px;
    margin-bottom: 24px;
    margin-left: 2px;
  }

  .main-container {
    width: 75%;
    max-width: 1180px;
    padding-top: 20px;
    padding-bottom: 28px;
  }

  .div-block-8 {
    margin-top: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .footer.faq.timeline {
    background-image: url('../images/BG-Image_1.png');
    background-size: cover;
  }

  .footer-text {
    display: inline-block;
    padding-right: 10px;
    font-size: 12px;
    text-decoration: none;
  }

  .footer-text:hover {
    color: #fff;
  }

  .question-title {
    font-size: 20px;
  }

  .paragraph {
    padding-bottom: 16px;
    font-size: 14px;
    line-height: 22px;
  }

  .organisers-grid {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .event-organiser {
    height: 48px;
  }

  .event-organiser.big {
    height: 70px;
  }

  .margin-div {
    padding-right: 15vh;
    padding-left: 15vh;
  }

  .link-block.w--current {
    display: none;
  }

  .text-span-usd {
    padding-right: 4px;
    font-size: 11px;
  }

  .div-block-10 {
    margin-left: 0px;
  }

  .button-arrow {
    width: 350px;
  }

  .button-arrow.dark {
    width: auto;
    background-color: #ffe787;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    font-size: 14px;
    line-height: 20px;
  }

  .button-arrow.dark:hover {
    padding-right: 32px;
  }

  .new-heading {
    margin-bottom: 8px;
    font-size: 38px;
    line-height: 121%;
  }

  .div-block-14 {
    margin-left: 52px;
  }

  .color-block-new {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 31vw;
    max-width: 460px;
    min-width: 200px;
    padding-right: 60px;
    padding-bottom: 56px;
    padding-left: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .color-block-new.no-color {
    width: 27vw;
    max-width: 430px;
  }

  .price-grid-new {
    min-width: 320px;
    padding-right: 20px;
    grid-row-gap: 16px;
  }

  .price-grid-new.kaggle-design {
    min-width: 300px;
    grid-row-gap: 21px;
  }

  .special-paragraph-new {
    width: 90%;
    padding-right: 12px;
    padding-left: 2px;
    font-size: 16px;
    line-height: 148%;
  }

  .footnote {
    width: 90%;
    margin-bottom: 0px;
    padding-left: 2px;
    font-family: 'Red Hat Display', sans-serif;
    color: #fff;
    font-size: 11px;
    line-height: 148%;
    font-weight: 400;
  }

  .footnote.visible {
    font-size: 10px;
    text-align: center;
  }

  .footnote-cta-div {
    width: 110%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 991px) {
  .heading-1 {
    font-size: 42px;
  }

  .heading-1.card {
    margin-top: 10px;
  }

  .heading-1.light {
    margin-top: 12px;
  }

  .heading-1.new {
    margin-right: 20px;
    font-size: 32px;
  }

  .heading-1.card-copy {
    margin-top: 10px;
  }

  .section.no-margins {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
  }

  .nav-link {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #707070;
    font-size: 18px;
    text-align: center;
  }

  .nav-link:hover {
    margin-right: 12px;
    margin-left: 12px;
    background-color: #e7b769;
    color: #2a5088;
    font-weight: 700;
  }

  .sub-heading {
    font-size: 16px;
  }

  .icons {
    width: 40px;
  }

  .main-card-grid {
    padding: 40px 40px 36px 56px;
    grid-column-gap: 28px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .main-card-grid._2 {
    padding: 40px;
    grid-column-gap: 32px;
  }

  .special-paragraph {
    width: 95%;
  }

  .special-paragraph.small {
    font-size: 13px;
  }

  .price-grid {
    padding: 32px 32px 20px 28px;
    grid-row-gap: 8px;
    -ms-grid-rows: 60px 60px 60px 60px;
    grid-template-rows: 60px 60px 60px 60px;
    border-radius: 16px;
  }

  .price-money {
    padding-left: 28px;
    background-size: 20px;
    font-size: 16px;
  }

  .price-money.smaller {
    padding-left: 26px;
  }

  .price-money-div {
    grid-column-gap: 16px;
  }

  .important-images.small {
    width: 100%;
    height: 42px;
  }

  .div-block-4 {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .landing-screen-icons {
    width: 160px;
  }

  .main-container {
    width: 95%;
    max-width: 991px;
    min-width: 768px;
    padding-top: 18px;
    padding-bottom: 12px;
  }

  .footer {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 40px;
  }

  .footer.faq {
    padding-right: 32px;
    padding-left: 32px;
    -ms-grid-columns: 0.5fr 1fr;
    grid-template-columns: 0.5fr 1fr;
  }

  .footer.faq.timeline {
    padding-right: 68px;
    padding-left: 68px;
  }

  .footer.faq.small {
    -ms-grid-columns: 0.45fr 1fr;
    grid-template-columns: 0.45fr 1fr;
  }

  .footer.faq.privacy-policy {
    -ms-grid-columns: 0.45fr 1fr;
    grid-template-columns: 0.45fr 1fr;
  }

  .success-message-cf8 {
    padding-left: 24px;
    font-size: 16px;
    font-weight: 600;
  }

  .faq-question-bar {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .event-organiser {
    height: 46px;
  }

  .event-organiser.bigger {
    height: 56px;
  }

  .margin-div {
    padding-right: 4vh;
    padding-left: 4vh;
  }

  .menu-button {
    width: 60px;
    height: 48px;
    padding: 6px 12px;
    border-radius: 8px;
    background-color: #ececec;
    background-image: url('../images/Menu-Blue.svg');
    background-position: 50% 50%;
    background-size: 20px;
    background-repeat: no-repeat;
    color: #3e65a0;
  }

  .menu-button.w--open {
    background-color: #fff;
    background-image: url('../images/Menu-Close.svg');
  }

  .timeline-image {
    width: 300px;
    margin-left: 40px;
  }

  .nav-menu {
    height: 100vh;
    margin-right: -5vh;
    margin-left: -5vh;
    padding-top: 20px;
    background-color: #f9cd86;
    text-align: center;
  }

  .tip-text {
    display: block;
    margin-top: 20px;
    color: #3e65a0;
    font-size: 12px;
    font-weight: 700;
  }

  .link-block.w--current {
    display: none;
  }

  .text-block-2 {
    line-height: 150%;
  }

  .track-logos {
    margin-left: 0px;
  }

  .table-row-div {
    -ms-grid-columns: 52px 1fr;
    grid-template-columns: 52px 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .table-header.date {
    margin-top: 0px;
    margin-right: 12px;
  }

  .div-block-11 {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .div-block-13 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .form-feedback {
    margin-left: 20px;
  }

  .new-heading {
    width: 90%;
    margin-top: 12px;
    font-size: 32px;
    line-height: 116%;
  }

  .color-block-new {
    width: 50vw;
    min-width: 370px;
    padding-right: 40px;
    padding-left: 52px;
  }

  .color-block-new.no-color {
    min-width: 310px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .color-block-new.green {
    background-color: #458c80;
  }

  .color-block-new.green:hover {
    background-color: #378276;
  }

  .price-grid-new {
    min-width: 280px;
    padding: 32px 32px 20px 28px;
    grid-row-gap: 8px;
    -ms-grid-rows: 60px 60px 60px 60px;
    grid-template-rows: 60px 60px 60px 60px;
    border-radius: 16px;
  }

  .price-grid-new.kaggle-design {
    padding-right: 28px;
  }

  .special-paragraph-new {
    width: 95%;
  }

  .special-paragraph-new.small {
    font-size: 13px;
  }

  .footnote {
    width: 95%;
  }

  .footnote.small {
    font-size: 13px;
  }

  .footnote.visible {
    text-align: center;
  }

  .footnote-cta-div {
    grid-row-gap: 8px;
    -ms-grid-columns: 1.1fr;
    grid-template-columns: 1.1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 767px) {
  .heading-1 {
    font-size: 36px;
    line-height: 108%;
  }

  .heading-1.card {
    font-size: 36px;
  }

  .heading-1.card.small {
    font-size: 24px;
  }

  .heading-1.light {
    font-size: 32px;
  }

  .heading-1.new {
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
  }

  .heading-1.card-copy {
    font-size: 36px;
  }

  .heading-1.card-copy.small {
    font-size: 24px;
  }

  .heading-6 {
    font-size: 24px;
  }

  .section.no-margins {
    padding-right: 12px;
    padding-left: 12px;
  }

  .section.landing-screen {
    padding-top: 5vh;
    padding-right: 10px;
    padding-left: 20px;
  }

  .section.landing-screen.top-border {
    padding-bottom: 5vh;
    border-top-style: none;
  }

  .navbar {
    padding-right: 32px;
    padding-left: 20px;
  }

  .brand {
    background-size: auto 16px;
  }

  .nav-link {
    color: #5e5e5e;
    font-size: 22px;
    line-height: 24px;
  }

  .nav-link.w--current {
    color: #2a5088;
    font-weight: 700;
  }

  .div-block {
    width: 420px;
    grid-column-gap: 8px;
  }

  .sub-heading {
    font-size: 12px;
    line-height: 125%;
  }

  .sub-heading.admin {
    font-size: 20px;
  }

  .main-card-grid {
    padding: 32px 28px 32px 36px;
    grid-column-gap: 20px;
    grid-row-gap: 24px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    border-radius: 12px;
  }

  .main-card-grid._2 {
    padding: 36px;
    grid-row-gap: 24px;
  }

  .main-card-grid.small {
    padding: 28px 20px 20px;
  }

  .special-paragraph {
    font-size: 12px;
    line-height: 155%;
  }

  .special-paragraph.small {
    font-size: 12px;
  }

  .div-block-2 {
    max-width: 320px;
  }

  .price-grid {
    padding-right: 28px;
    padding-left: 20px;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    -ms-grid-rows: auto 52px 52px 52px;
    grid-template-rows: auto 52px 52px 52px;
  }

  .price-money {
    padding-left: 24px;
    background-size: 19px;
    font-size: 18px;
    line-height: 75%;
  }

  .div-block-4 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .button {
    font-size: 15px;
    line-height: 18px;
  }

  .landing-screen-icons {
    width: auto;
  }

  .divider {
    width: 48px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .divider.small {
    border-top-width: 2px;
  }

  .main-container {
    width: 100%;
    max-width: 767px;
    min-width: 480px;
    padding-top: 6px;
    padding-bottom: 16px;
  }

  .button-2 {
    height: 33px;
    background-size: 14px;
    font-size: 12px;
    line-height: 16px;
  }

  .footer {
    margin-right: 4px;
    margin-left: 4px;
    padding: 28px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .footer.faq {
    margin-top: 0px;
    padding-right: 20px;
    padding-left: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer.faq.small {
    padding-right: 16px;
    padding-left: 16px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .footer.faq.privacy-policy {
    padding-right: 16px;
    padding-left: 16px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .text-field-cf8 {
    font-size: 14px;
  }

  .field-wrapper-cf8 {
    margin-bottom: 2px;
  }

  .accordion-item-content {
    margin-right: 0px;
  }

  .question-text {
    margin-top: 8px;
  }

  .accordion__item {
    margin-bottom: 16px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .faq-question-bar {
    padding-right: 20px;
  }

  .question-title {
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 16px;
  }

  .paragraph {
    padding-right: 20px;
    font-size: 12px;
  }

  .organisers-grid {
    margin-top: 10px;
    grid-column-gap: 16px;
    grid-row-gap: 32px;
  }

  .event-organiser {
    height: 40px;
  }

  .margin-div {
    padding-right: 2vh;
    padding-left: 2vh;
  }

  .menu-button {
    height: 36px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: transparent;
    line-height: 12px;
  }

  .menu-button.w--open {
    background-color: #fff;
    color: #ff006a;
  }

  .timeline-image {
    width: 260px;
    margin-left: 0px;
  }

  .nav-menu {
    top: -10px;
    padding-top: 100px;
  }

  .tip-text {
    display: block;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
  }

  .link-block {
    position: fixed;
    left: auto;
    top: auto;
    right: 16px;
    bottom: 40px;
    width: 36px;
    height: 36px;
    padding: 10px;
    border-radius: 50%;
    background-color: #3e65a0;
    background-image: url('../images/Arrow.png');
    background-position: 50% 50%;
    background-size: 16px;
    background-repeat: no-repeat;
  }

  .link-block.w--current {
    display: block;
  }

  .code-template {
    margin-top: 20px;
  }

  .track-logos {
    height: 30px;
    max-width: 85%;
  }

  .image-4 {
    max-width: 90%;
  }

  .table-row-div.header {
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .div-block-12 {
    padding: 16px;
  }

  .div-block-13 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .button-arrow {
    font-size: 15px;
    line-height: 18px;
  }

  .new-heading {
    margin-top: 10px;
    font-size: 24px;
    line-height: 130%;
  }

  .div-block-14 {
    margin-top: 20px;
    margin-bottom: 16px;
  }

  .new-block {
    width: 80vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .color-block-new {
    width: 100%;
    max-width: 100%;
    padding: 48px 48px 30px;
  }

  .color-block-new.no-color {
    padding-top: 16px;
    padding-bottom: 32px;
  }

  .price-grid-new {
    padding: 10px 28px 0px 20px;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    -ms-grid-rows: auto 52px 52px 52px;
    grid-template-rows: auto 52px 52px 52px;
  }

  .special-paragraph-new {
    width: 90%;
    font-size: 12px;
    line-height: 155%;
  }

  .special-paragraph-new.small {
    font-size: 12px;
  }

  .footnote {
    font-size: 12px;
    line-height: 155%;
  }

  .footnote.small {
    font-size: 12px;
  }
}

@media screen and (max-width: 479px) {
  h2 {
    font-size: 24px;
    line-height: 30px;
  }

  .heading-1 {
    font-size: 32px;
    line-height: 120%;
    font-weight: 700;
  }

  .heading-1.card.small {
    margin-bottom: 16px;
    font-size: 20px;
  }

  .heading-1.light {
    margin-bottom: 4px;
    font-size: 26px;
  }

  .heading-1.new {
    margin-right: 0px;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
  }

  .heading-1.new.more-space {
    margin-right: 0px;
    font-size: 22px;
  }

  .heading-1.new.more-space.active {
    margin-top: 10px;
    margin-left: 0px;
    font-size: 20px;
  }

  .heading-1.card-copy.small {
    margin-bottom: 16px;
    font-size: 20px;
  }

  .heading-6 {
    font-size: 22px;
  }

  .section.no-margins {
    padding-top: 0px;
    padding-right: 0vh;
    padding-left: 0px;
    grid-row-gap: 24px;
  }

  .section.landing-screen {
    padding: 5vh 20px 40px 24px;
  }

  .section.landing-screen.top-border {
    padding-top: 3vh;
  }

  .navbar {
    padding-right: 16px;
    padding-left: 20px;
  }

  .brand {
    height: 36px;
  }

  .brand.public-side {
    background-size: auto 16px;
  }

  .div-block {
    width: 85%;
    max-width: 480px;
    min-width: 260px;
    grid-column-gap: 8px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .sub-heading {
    line-height: 145%;
  }

  .icons {
    width: 32px;
    margin-top: 4px;
    margin-bottom: 12px;
  }

  .main-card-grid {
    margin-bottom: 0px;
    padding: 0px 16px 24px 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    grid-row-gap: 12px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .main-card-grid._2 {
    padding: 24px 24px 24px 28px;
  }

  .main-card-grid.small {
    background-position: 90% 65%;
    background-size: 80px;
  }

  .main-card-grid.small.green {
    background-position: 87% 65%;
    background-size: 70px;
  }

  .main-card-grid.other {
    padding-right: 16px;
    padding-left: 20px;
    justify-items: center;
    grid-row-gap: 12px;
  }

  .special-paragraph.big {
    font-size: 14px;
  }

  .div-block-2 {
    grid-column-gap: 20px;
  }

  .price-grid {
    margin-right: 0px;
    margin-left: 0px;
    padding: 24px 20px 16px;
    grid-row-gap: 6px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .price-money {
    width: 100%;
    padding-left: 24px;
    background-size: 18px;
    font-size: 17px;
    text-align: right;
  }

  .price-money.smaller {
    padding-top: 4px;
    font-size: 14px;
  }

  .price-money-div {
    grid-column-gap: 8px;
    -ms-grid-columns: 0.6fr 0.95fr;
    grid-template-columns: 0.6fr 0.95fr;
  }

  .price-money-div.single-window {
    -ms-grid-columns: 0.25fr 0.9fr;
    grid-template-columns: 0.25fr 0.9fr;
  }

  .important-images {
    width: 85%;
    height: 38px;
    text-align: center;
  }

  .important-images.small {
    height: 38px;
  }

  .div-block-4 {
    grid-row-gap: 12px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .button.yellow {
    width: 100%;
    margin-top: 10px;
    font-size: 13px;
    line-height: 18px;
  }

  .divider {
    width: 32px;
    margin-top: 28px;
    margin-bottom: 28px;
  }

  .divider.small {
    margin-top: 10px;
    margin-bottom: 16px;
  }

  .main-container {
    width: 100%;
    max-width: 480px;
    min-width: 320px;
    padding-top: 6px;
    padding-bottom: 4px;
  }

  .color-block {
    padding-top: 10px;
  }

  .div-block-8 {
    margin-bottom: 10px;
  }

  .button-2 {
    height: 32px;
  }

  .footer {
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 23px 23px 12px;
    grid-row-gap: 8px;
    border-radius: 12px;
  }

  .footer.faq {
    padding: 10px;
  }

  .footer.faq.small {
    padding-top: 20px;
    padding-left: 8px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    grid-row-gap: 0px;
  }

  .footer.faq.privacy-policy {
    padding-top: 20px;
    padding-left: 8px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    grid-row-gap: 0px;
  }

  .form-subwrapper-cf8 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .text-field-cf8 {
    font-size: 13px;
  }

  .field-wrapper-cf8 {
    width: 100%;
    margin-left: 0px;
  }

  .field-wrapper-cf8.right {
    width: 100%;
    margin-left: 0px;
  }

  .field-wrapper-cf8.left {
    width: 100%;
  }

  .form-cf8 {
    margin-right: 10px;
    padding-top: 0px;
  }

  .footer-text {
    font-size: 10px;
  }

  .header-center-box._75 {
    width: 90%;
  }

  .question-text {
    margin-bottom: 8px;
    margin-left: 16px;
    padding-right: 20px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 100%;
    -ms-flex: 0 100%;
    flex: 0 100%;
  }

  .accordion-body {
    padding-left: 56px;
  }

  .accordion-body.js-accordion-body {
    margin-top: 20px;
    padding-top: 10px;
    padding-right: 0px;
    padding-left: 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .accordion_item-image {
    width: 30px;
  }

  .faq-question-wrap {
    padding-right: 8px;
  }

  .faq-question-bar {
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 0px;
  }

  .question-title {
    padding-top: 4px;
    padding-bottom: 4px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 14px;
    line-height: 20px;
  }

  .animation {
    width: 44px;
    height: 44px;
  }

  .paragraph {
    padding-right: 12px;
    padding-left: 0px;
    font-size: 11px;
    line-height: 18px;
  }

  .organisers-grid {
    margin-top: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .event-organiser {
    height: 32px;
  }

  .event-organiser.bigger {
    height: 44px;
  }

  .event-organiser.smaller {
    height: 34px;
  }

  .margin-div {
    padding-right: 1.5vh;
    padding-left: 1.5vh;
  }

  .menu-button {
    width: 48px;
    height: 18px;
    padding: 4px 0px 0px;
    background-size: 16px;
  }

  .menu-button.w--open {
    background-color: transparent;
  }

  .timeline-image {
    width: 220px;
  }

  .nav-menu {
    margin-right: -1vh;
    margin-left: -1vh;
    padding-right: 20px;
    padding-left: 20px;
  }

  .track-logos {
    height: 32px;
    max-width: 100%;
    padding-top: 6px;
    padding-bottom: 5px;
  }

  .track-logos.kaggle {
    height: 38px;
  }

  .div-block-10 {
    margin-top: 4px;
    padding-top: 10px;
    padding-bottom: 0px;
    border-top: 1px dashed #cacaca;
    border-bottom-style: none;
  }

  .table-row-div.header.deleted {
    -ms-grid-columns: 60px 1fr;
    grid-template-columns: 60px 1fr;
  }

  .table-row-div.responded {
    grid-column-gap: 8px;
    grid-row-gap: 4px;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .div-block-13 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .success-form {
    font-size: 12px;
  }

  .form-feedback {
    margin-top: 12px;
    margin-left: 0px;
  }

  .button-arrow.yellow {
    margin-top: 10px;
    font-size: 14px;
    line-height: 18px;
  }

  .new-heading {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 16px;
  }

  .div-block-14 {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
  }

  .div-block-15 {
    margin-right: 12px;
    margin-left: 12px;
    padding-top: 6px;
  }

  .div-block-16 {
    text-align: center;
  }

  .new-block {
    width: auto;
    margin-right: 2vh;
    margin-left: 2vh;
    border-radius: 16px;
  }

  .color-block-new {
    width: 100%;
    min-width: 260px;
    padding: 30px 28px 20px 32px;
    border-radius: 16px;
  }

  .color-block-new.no-color {
    min-width: 290px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
  }

  .price-grid-new {
    margin-top: 12px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 10px 20px 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    grid-column-gap: 24px;
    grid-row-gap: 6px;
    -ms-grid-columns: 0.7fr;
    grid-template-columns: 0.7fr;
  }

  .price-grid-new.kaggle-design {
    padding-top: 0px;
    padding-right: 20px;
    padding-left: 16px;
    grid-row-gap: 8px;
    -ms-grid-rows: 36px 32px 50px 50px 50px;
    grid-template-rows: 36px 32px 50px 50px 50px;
  }

  .special-paragraph-new {
    width: 95%;
    font-size: 13px;
  }

  .special-paragraph-new.big {
    font-size: 16px;
  }

  .footnote {
    font-size: 11px;
    font-weight: 400;
  }

  .footnote.big {
    font-size: 16px;
  }

  .footnote.visible {
    font-size: 10px;
  }

  .footnote-cta-div {
    justify-items: center;
    grid-row-gap: 8px;
    -ms-grid-columns: 1.1fr;
    grid-template-columns: 1.1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .text-block-6 {
    font-size: 13px;
  }

  .div-block-18 {
    line-height: 16px;
  }
}

#w-node-c121046f28d9-a62fda8e {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-fe10c621e8f4-a62fda8e {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-cb46b2b8f5d0-a62fda8e {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-e00a99fdffe4-a62fda8e {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-e00a99fdffe6-a62fda8e {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-e00a99fdffe7-a62fda8e {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-e00a99fdffee-a62fda8e {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-e00a99fdffef-a62fda8e {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-column-align: start;
  justify-self: start;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-e00a99fdfff0-a62fda8e {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-e00a99fdfff5-a62fda8e {
  -ms-grid-column-align: end;
  justify-self: end;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-e00a99fdfff6-a62fda8e {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-e00a99fdfff7-a62fda8e {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-e00a99fdfffc-a62fda8e {
  -ms-grid-column-align: end;
  justify-self: end;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-e00a99fdfffd-a62fda8e {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-e00a99fdfffe-a62fda8e {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-e00a99fe0003-a62fda8e {
  -ms-grid-column-align: end;
  justify-self: end;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-9abf0a2e3f44-a62fda8e {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-8d4a5bda6f18-a62fda8e {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-9abf0a2e3f48-a62fda8e {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-9abf0a2e3f4a-a62fda8e {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-9abf0a2e3f4b-a62fda8e {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-9abf0a2e3f52-a62fda8e {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-9abf0a2e3f53-a62fda8e {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-column-align: start;
  justify-self: start;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-9abf0a2e3f54-a62fda8e {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-9abf0a2e3f59-a62fda8e {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-9abf0a2e3f5a-a62fda8e {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-0b12b8e4d17b-a62fda8e {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-9abf0a2e3f60-a62fda8e {
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-87664a4ff751-a62fda8e {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#w-node-5b21cfa60b54-a62fda8e {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-2871200ee727-a62fda8e {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-377c1e62b71f-a62fda8e {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-dc92a39d38d7-a62fda8e {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-2871200ee72f-a62fda8e {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-5055d46b7785-a62fda8e {
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-2d99afa2096a-a62fda8e {
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
}

#w-node-48299a50e373-241ede87 {
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-e4cd9ef269bb-241ede87 {
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-d0f62fec6c30-241ede87 {
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-afcd58e57317-241ede87 {
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-a6c5e881287b-241ede87 {
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-c001b5293005-241ede87 {
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-ee327495b3f7-241ede87 {
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-2e9d1ba287ad-241ede87 {
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-4524bc7aa607-241ede87 {
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-19678b3023c1-241ede87 {
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-3e4f2ea0c14d-241ede87 {
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-69a70d2d1f5a-241ede87 {
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-f5679640fbb5-241ede87 {
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-dcea002bc89e-241ede87 {
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-a96dcec41b7b-241ede87 {
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-5055d46b7785-5236f2af {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-afb466897040-5236f2af {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-dcea191765ff-5236f2af {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-2d99afa2096a-5236f2af {
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
}

@media screen and (min-width: 1440px) {
  #w-node-c121046f28d9-a62fda8e {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-cb46b2b8f5d0-a62fda8e {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-2871200ee726-a62fda8e {
    -ms-grid-column-align: start;
    justify-self: start;
  }

  #w-node-377c1e62b71f-a62fda8e {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-dc92a39d38d7-a62fda8e {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-2871200ee72f-a62fda8e {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-2d99afa2096a-a62fda8e {
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
  }

  #w-node-2d99afa2096a-5236f2af {
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
  }
}

@media screen and (max-width: 991px) {
  #w-node-48299a50e36d-241ede87 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-48299a50e373-241ede87 {
    -ms-grid-column-align: stretch;
    justify-self: stretch;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-e4cd9ef269b5-241ede87 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-e4cd9ef269bb-241ede87 {
    -ms-grid-column-align: stretch;
    justify-self: stretch;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-d0f62fec6c2a-241ede87 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-d0f62fec6c30-241ede87 {
    -ms-grid-column-align: stretch;
    justify-self: stretch;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-afcd58e57311-241ede87 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-afcd58e57317-241ede87 {
    -ms-grid-column-align: stretch;
    justify-self: stretch;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-a6c5e8812875-241ede87 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-a6c5e881287b-241ede87 {
    -ms-grid-column-align: stretch;
    justify-self: stretch;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-c001b5292fff-241ede87 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-c001b5293005-241ede87 {
    -ms-grid-column-align: stretch;
    justify-self: stretch;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-ee327495b3f1-241ede87 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-ee327495b3f7-241ede87 {
    -ms-grid-column-align: stretch;
    justify-self: stretch;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-2e9d1ba287a7-241ede87 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-2e9d1ba287ad-241ede87 {
    -ms-grid-column-align: stretch;
    justify-self: stretch;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-4524bc7aa601-241ede87 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-4524bc7aa607-241ede87 {
    -ms-grid-column-align: stretch;
    justify-self: stretch;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-19678b3023bb-241ede87 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-19678b3023c1-241ede87 {
    -ms-grid-column-align: stretch;
    justify-self: stretch;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-3e4f2ea0c147-241ede87 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-3e4f2ea0c14d-241ede87 {
    -ms-grid-column-align: stretch;
    justify-self: stretch;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-69a70d2d1f54-241ede87 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-69a70d2d1f5a-241ede87 {
    -ms-grid-column-align: stretch;
    justify-self: stretch;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-f5679640fbaf-241ede87 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-f5679640fbb5-241ede87 {
    -ms-grid-column-align: stretch;
    justify-self: stretch;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-dcea002bc898-241ede87 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-dcea002bc89e-241ede87 {
    -ms-grid-column-align: stretch;
    justify-self: stretch;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-a96dcec41b75-241ede87 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-a96dcec41b7b-241ede87 {
    -ms-grid-column-align: stretch;
    justify-self: stretch;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }
}

@media screen and (max-width: 767px) {
  #w-node-c121046f28d9-a62fda8e {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-5b21cfa60b54-a62fda8e {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-377c1e62b71f-a62fda8e {
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-dc92a39d38d7-a62fda8e {
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-2871200ee72f-a62fda8e {
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-aff7775cfb2c-a62fda8e {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-c38304cb536c-a62fda8e {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-2d99afa2096a-a62fda8e {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-aff7775cfb2c-6fc7416c {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-c38304cb536c-6fc7416c {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-aff7775cfb2c-5236f2af {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-c38304cb536c-5236f2af {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-2d99afa2096a-5236f2af {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-fe10c621e8f4-a62fda8e {
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }

  #w-node-e00a99fdffe4-a62fda8e {
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 6;
    -ms-grid-row: 5;
    grid-row-start: 5;
  }

  #w-node-e00a99fdffe6-a62fda8e {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-e00a99fdffee-a62fda8e {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-e00a99fdfff0-a62fda8e {
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }

  #w-node-9abf0a2e3f44-a62fda8e {
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }

  #w-node-9abf0a2e3f48-a62fda8e {
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 6;
    -ms-grid-row: 5;
    grid-row-start: 5;
  }

  #w-node-9abf0a2e3f4a-a62fda8e {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-9abf0a2e3f52-a62fda8e {
    -ms-grid-column-align: start;
    justify-self: start;
  }

  #w-node-9abf0a2e3f59-a62fda8e {
    -ms-grid-column-align: start;
    justify-self: start;
  }

  #w-node-0b12b8e4d17b-a62fda8e {
    -ms-grid-column-align: end;
    justify-self: end;
  }

  #w-node-9abf0a2e3f60-a62fda8e {
    -ms-grid-column-align: start;
    justify-self: start;
  }

  #w-node-87664a4ff751-a62fda8e {
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-2871200ee726-a62fda8e {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-1718a195a023-241ede87 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }
}

